
<div class="pt-3 pb-1 px-3 bg-light-dark rounded-top-sm">
  {{#each posts as |post|}}
    <div
      class="post card card-rounded card-clickable bg-white"
      onclick="window.location.href='/post/{{post.id}}'"
    >
      <div class="card-header card-clickable pt-2 pb-1 bg-dark rounded-top-sm">
        <h4>{{post.title}}</h4>
      </div>
      <div class="card-body pt-3 pb-0">
        <p class="text-center" style="font-style: italic;">Join the discussion!</p>
      </div>
      <hr />
      <div class="card-body pb-3">
        <p class="align-right">Posted by
          {{post.user.username}}
          on
          {{formatDate post.date_created}}</p>
      </div>
    </div>
  {{/each}}
</div>
<div class="py-2 px-4 h-25px bg-light-dark rounded-bottom-md"></div>
<div class="mt-5 w-100 display-flex justify-center">
  <button
    class="btn btn-light-dark text-info-dark btn-md rounded-md btn-rounded"
    id="scroll-to-top"
    onClick="scrollToTop()"
    style="position: fixed; right: 20px; bottom: 100px; width: 100px; height: 100px;"
  ><h4 style="rotate: 270deg;">&#10149;</h4>Return to top</button>
</div>
<script src="/js/homepage.js"></script>
